/* Boton flotante */
.flotante {
    display:scroll;
    position:fixed;
    bottom:20px;
    right:20px;
}

.btn-ini{
    font-size: 5rem;

}

/* Header */
.barra-nav{
    background-color: #fff; 
    position: fixed; 
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
}

/*  Primer Container*/
.p-cont{
    background-color: #121229; 
    color:#8F7C36; 
    height: 700px;
    padding: auto;
}

.p-cont h1{
    margin-top: 160px;
}

/*  Quienes Somos */
.q-s{
    background-color: #8F7C36; 
    color: #fff;
    height: 540px; 
}

.q-s h2{
    margin-top: 150px; 
    font-size: 40px;
}

/* Tipos de Blindaje  */
.t-b{
    height: 540px;
}

.t-bd{
    background-color: white; 
    height: 540px;
}

.t-bd h2{
    color: #8F7C36; 
    margin-top: 220px;
}

.t-bd2{
    background-color: #121229; 
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

/* Proceso de Blindaje */
.p-b{
    height: 540px;
}

.pb-div{
    background-color: #121229; 
    color: #fff;
    height: 540px;
}

.pb-h2{
    color:#8F7C36; 
    margin-top: 200px;
}

/* Clientes */

.clientes-contenedor{
    background-color: #8F7C3659; 
    color: #243146;
    height: 875px; 
    padding-top: 150px;
}

.clientes-h1{
    margin-top: 10%;
}

.clientes-div{
    height: 300px; 
    margin: 50px;
}

.clientes-box{
    background-color: #000; 
    color: #fff;
    width: 200px;
    padding:100px 1px;
}

.clientes-desc{
    height: 300px; margin-top: 20px;
}

.bbox{
    color: #252525;
    width: 200px;
}

/* Sucursales */
.sucursales-cont{
    background-color: #8F7C36; 
    color: #fff;
    justify-content: right; 
    height: 370px; 
}

.suc-div{
    background-color: #fff;
    align-items: center; 
    height: 300px; 
    width: 850px; 
}

/* Tipos de Cambio */
.t-cambio{
    background-color: #121229; 
    color:#fff;
    justify-content: right; 
    height: 370px; 
}

.tc-box{
    background-color: #fff;
    height: 300px; 
    width: 850px; 
}

/* Contacto */
.contact{
    background-color: #8F7C3669;
    color:#fff;
    justify-content: right; 
    height: 370px; 
}

.contacto-box{
    align-items: center;
    background-color: #fff;
    height: 300px;
    width: 850px;
}


/* footer */
.footer{
    background-color: #fff;
    height: 315px;
}

.t-logo{
    font-size: 50px;
}

/* botones mapa */
#laplata, #vic-lopez{
    background-color: #8F7C36;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#laplata:hover, #vic-lopez:hover{
    background-color: #fff;
    color: #8F7C36;
    border: 1px solid #8F7C36;
}






























